USE [master]
GO
/****** Object:  Database [TodoDb]    Script Date: 29/10/2567 17:37:25 ******/
CREATE DATABASE [TodoDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TodoDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KIROV\MSSQL\DATA\TodoDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TodoDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KIROV\MSSQL\DATA\TodoDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodoDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodoDb]
GO
/****** Object:  Table [dbo].[Todos]    Script Date: 29/10/2567 17:37:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Todos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[IsCompleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Todos] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
USE [master]
GO
